.featured-products {
    --textColor: #656874;
    --btnColor: #464B90;
}

.featured-products__heading {
    font-size: 26px;
    line-height: 1.38;
    font-weight: 900;
    margin-top: 43px;
    margin-bottom: 30px;
    color: var(--textColor);
    text-align: center;
}

.featured-products__grid {
    display: flex;
    flex-wrap: wrap;
}

.featured-products__item {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.featured-products__image {
    height: 100%;
    object-fit: cover;
}

.featured-products__image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 260px;
}

.featured-products__title-link {
    display: inline-block;
    font-size: 22px;
    line-height: 1.9;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 11px;
    color: var(--textColor);
    text-decoration: none;
}

.featured-products__button {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 400;
    padding: 18px;
    min-width: 285px;
    background-color: var(--btnColor);
    border: 2px solid var(--btnColor);
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: color, background-color .3s ease-in-out;
}

.featured-products__button:not([disabled]):hover {
    background-color: #ffffff;
    color: var(--btnColor);
}

.featured-products__button[disabled] {
    pointer-events: none;
    opacity: .7;
}

.featured-products__button--added {
    background-color: #ffffff;
    color: var(--btnColor);
}

.featured-products__button--added .featured-products__button-price {
    display: none;
}

@media screen and (min-width: 750px) {
    .featured-products__heading {
        font-size: 42px;
        line-height: 1;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .featured-products__item {
        width: calc(50% - 20px);
        margin-bottom: 119px;
    }

    .featured-products__item:nth-child(2n) {
        margin-left: auto;
    }

    .featured-products__image-link {
        height: 340px;
    }
}